BasedOnStyle: LLVM
Language: Cpp
Standard: Latest
IndentWidth: 4
ColumnLimit: 120
AccessModifierOffset: -4
PointerAlignment: Left
IndentCaseLabels: false
NamespaceIndentation: None
FixNamespaceComments: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: All
AlignAfterOpenBracket: Align
BreakConstructorInitializers: BeforeColon
BreakTemplateDeclarations: Yes
PackConstructorInitializers: CurrentLine
InsertBraces: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
InsertNewlineAtEOF: true
